<a href="https://colab.research.google.com/github/adelianeal/COMP-593/blob/main/WEEK_4_ADVANCED_SQL_AND_FILES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 4 - Advanced SQL / Writing Files

In this week's lab, we are going to expand our Really Simple Social Network by adding another table that will record connections between people! Because after all, what good is a social network if you can't ... be social?

Afterwards, we will be in a good position to run a report on the data, and then we can sell it to marketers for a massive profit! Isn't it great how few people read the terms of service? `/s`

## Importing our database
Since we are using a new colab notebook, we will need to reimport our database. Check your D2L Submission if you didn't keep a copy, you should be able to redownload it there. Run the below code block and the file upload picker will appear, after uploading your Database file, check that it appears in the `Files` tab of colab.

Remember that you may need to update the listings before it will appear.

In [ ]:
from google.colab import files
uploaded = files.upload()

## Creating our relationship table

In the code block below, we will be creating a new table in our database for `relationships` with the following parameters:


1.   A primary key column called `id` with the `INTEGER` datatype that is `NOT NULL`
2.   A foreign key column called `user_id` that links to the `id` column of the `people` table with the `INTEGER` datatype that is `NOT NULL`
3.   Another foreign key column called `friend_id` that also links to the `id` column of the `people` table with the `INTEGER` datatype that is `NOT NULL`
4.   A `date_created` table with the `DATE` datatype that is `NOT NULL`

The Below codeblock will get you started:

In [4]:
import sqlite3

#Retreive the Connection object, rename the file to match your uploaded DB if necessary.
myConnection = sqlite3.connect('social_network.db')

#Once we have a Connection object, we can generate a Cursor object, and use that to run our SQL Queries
myCursor = myConnection.cursor()

#The Primary Key column has been provided for you,
#Replace '#!...' with the remaining column names, datatypes, and foreign key declarations.
#Use the Lecture notes and the previous lab if you are unsure.
createRelationshipsTable = """CREATE TABLE IF NOT EXISTS relationships (
                          id integer PRIMARY KEY NOT NULL,
                          user_id integer NOT NULL,
                          friend_id integer NOT NULL,
                          FOREIGN KEY (user_id) REFERENCES people (id),
                          FOREIGN KEY (friend_id) REFERENCES people (id)
                        );"""

#Once again, we will execute the query, persist the changes, and close our connection.
myCursor.execute(createRelationshipsTable)
myConnection.commit()
myConnection.close()

In [6]:
myConnection = sqlite3.connect('social_network.db')
myCursor = myConnection.cursor()

myCursor.execute("SELECT group_concat(name, ', ') FROM pragma_table_info('relationships')")
print(myCursor.fetchone())

myConnection.close()

('id, user_id, friend_id',)

## Populating Relationship Data

We're not going to be picky about who knows who - so for the purposes of this lab, we're going to use our own version of an AI matchmaker, the `randrange()` method.

Complete the below codeblock, inserting 1000 new rows into the relationships table.
Use a random number between `1 - 1000` for the `user_id` and `friend_id` columns. This will link up to the `id` column of the `people` table and effectivly simulate a random network of relationships.

The below code block is purposely sparse, as you should be able to use the patterns you've identified in the previous lab to complete this task.

In [7]:
import sqlite3
from datetime import datetime #For generating dates and times
from random import randrange #For generating random numbers within a range


myConnection = sqlite3.connect('social_network.db')
myCursor = myConnection.cursor()

#Complete the below query
query = """INSERT INTO relationships (user_id,  friend_id)
                     VALUES (?, ?);"""



for _ in range(1000):
  #Populate the arguments that will be used in the query
  args = (randrange(1, 1001), randrange(1, 1001))
  #Execute the query
  myCursor.execute(query, args)

#Commit your changes and close the connection.
myConnection.commit()
myConnection.close()

In [8]:
import sqlite3
from pprint import pprint

myConnection = sqlite3.connect('social_network.db')
myCursor = myConnection.cursor()

selectStatement = """SELECT  * FROM relationships  LIMIT 20; """

myCursor.execute( selectStatement)
results = myCursor.fetchall()
pprint(results)

[(1, 613, 386),
 (2, 306, 697),
 (3, 960, 784),
 (4, 4, 803),
 (5, 656, 405),
 (6, 202, 971),
 (7, 712, 387),
 (8, 730, 948),
 (9, 310, 673),
 (10, 135, 662),
 (11, 655, 33),
 (12, 898, 975),
 (13, 9, 896),
 (14, 623, 289),
 (15, 149, 15),
 (16, 855, 573),
 (17, 716, 797),
 (18, 2, 538),
 (19, 358, 107),
 (20, 147, 915)]

## Building our Report

Now that our AI Matchmaker has generated our network of relationships, a marketing firm is offering us boatloads of cash for information about the amount of friends the users of our social network have.

The request is to return the name of each user, and the total number of relationships they have made.

If this was explained in awkward pseudo code, it might go something like this:
```
SELECT all relationships
JOIN them to the people they belong to
GROUP the results by the person's ID
return the person's name and COUNT of their relationships
```

After you have collected the data, you will need to write it to a `.txt` file. 

**Your submission will include the report `.txt` file, the copy of your updated `social_network.db` file, and a link to the colab notebook.**

Look at the aggregate functions from Week 3 and the Join examples from Week 4. There are a few different ways that you can structure a query to reach the correct answer.

**At a minimum, you will need to use a `LEFT JOIN` statement, a `GROUP BY` statement, and a `COUNT()` aggregate function.**

The below code block will get you started:

In [ ]:
import sqlite3
from pprint import pprint

myConnection = sqlite3.connect('social_network.db')
myCursor = myConnection.cursor()

query =  """SELECT people.name, COUNT(relationships.friend_id) FROM relationships
                      LEFT JOIN people ON relationships.user_id = people.id
                      GROUP BY relationships.user_id;"""

myCursor.execute(query)
results = myCursor.fetchall()
myConnection.close()

fp = open('report.txt', 'w')

for result in results:
  fp.write('\n' + str(result))

fp.close()

### Challenge: Write a CSV file

**This challenge isn't for extra marks, it's an opportunity for you to engage in some self guided discovery, only if you feel like it, and only if you have time.**

If you want to challenge yourself, alter the report so that it conforms with the `.csv` file type. There are a number of ways to do this, you can use the `Pandas` module, the `csv` module, or manually.